.p-view-wrap {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0; left: 0;
  z-index: 10;
  line-height: (25 / 12);
  @include fontSizeAll(12, 12, 9);
  letter-spacing: 0.15em;

  // Transition
  &.view-enter-active,
  &.view-asc-enter-active,
  &.view-leave-active,
  &.view-asc-leave-active {
    transition-duration: 3s;
    transition-property: opacity;
  }
  &.view-enter,
  &.view-asc-enter,
  &.view-leave-to,
  &.view-asc-leave-to {
    opacity: 0.999;
  }
  &.view-leave-to,
  &.view-asc-leave-to {
    pointer-events: none;
  }
}
